pieski.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="pieski">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rasa" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nazwa" type="xs:string"/>
              <xs:element name="pochodzenie" type="xs:string"/>
              <xs:element name="wielkosc" type="xs:string"/>
              <xs:element name="charakter" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>